# Nastavitve podatkovne baze
DB_NAME=projekt
DB_HOST=localhost
DB_USER=uporabnisko_ime
DB_PASSWORD=tvoje_geslo
DB_PORT=5432

# Nastavitve za Strava API
STRAVA_CLIENT_ID=tvoj_strava_client_id
STRAVA_CLIENT_SECRET=tvoj_strava_client_secret